.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--bg-secondary);
    padding: var(--spacing-md);
    order: 2; 
}

.main-content {
    flex: 1;
    padding: var(--spacing-md);
    order: 1;
}


@media (min-width: 768px) {
    .app-container {
        display: grid;
        grid-template-columns: 250px 1fr; 
        grid-template-rows: 100vh;
    }

    .sidebar {
        order: 0;
        border-right: 1px solid #334155;
    }

    .main-content {
        overflow-y: auto;
    }
}

.nav-links {
    list-style: none;
    margin-top: var(--spacing-lg);
}

.nav-links li { margin-bottom: var(--spacing-md); }

.nav-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary);
    font-weight: 500;
    padding: 10px;
    border-radius: var(--radius);
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    background-color: var(--accent);
    color: white;
}